  /* Implementing tabs */

  .wrapper {
    margin:30px auto;
    width:80%;
    font-family:sans-serif;
    color:#555;
    font-size:14px;
    line-height:24px;
  }
  .tabs {
    li {
      float:left;
      width:33.33%;
      list-style: none;
    }
    a {
      display:block;
      text-align:center;
      text-decoration:none;
      text-transform:uppercase;
      color:#888;
      padding:20px 0;
      border-bottom:2px solid #888;
      background:#f7f7f7;
      
      &:hover, &.active {
        background:#eee;
      }
    }
  }
  .tabgroup {
    div {
      padding:30px;
      box-shadow:0 7px 10px rgba(0,0,0,.3);
    }
  }
  .clearfix:after {
    content:"";
    display:table;
    clear:both;
  }

  /* nav bar */
.main-nav{
  display:inline-block;

}

a{
  text-decoration: none;
}
a h2:hover{
  color:#E1DFD3;
}

p a:hover{
  color:#E1DFD3;
  font-size: 29px;
}

#wrapper {
  display: table;
  width: 80%;

}
#left, #right {
  padding: 1em;
  font-family: sans-serif;
  color: #fff;
  height: 480px;
  max-height: 480px;
  display: table-cell;
}
#left {
  min-width:640px;
  max-width: 640px;
}
#right {
  width: 640px;
  max-width: 640px;

}

/* app store effect */
.gallery {
  width: 530px;
  margin: 0 auto;
  padding: 5px;
}

.gallery > div {
  position: relative;
  vertical-align: center;
  margin: auto;
  padding: auto;
  /*float:left;
  margin-right: -20px;*/


}

.gallery > div > a > img {
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > a > img {
  transform: scale(1.5,1.5);
  transition: .3s transform;
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}

#earth {
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 140px;
  margin-left:77%;
  transform: rotate(-8deg) scale(3);
  width: 92px;
  height: 92px;
  background: url(http://www.noirextreme.com/digital/Earth-Color4096.jpg);
  border-radius: 50%;
  background-size: 210px;
  box-shadow: inset 16px 0px 40px 6px rgb(0, 0, 0),
    inset -0px 0 16px 2px rgba(255, 255, 255, 0.4);
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 0px;
  transition: all 200ms ease-in-out;
}
#earth:hover {
  /* border: 2px solid black; */
}

@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 210px; }
}

/* end nav bar */

  /* Implementing tabs */

  .wrapper {
    margin:30px auto;
    width:80%;
    font-family:sans-serif;
    color:#555;
    font-size:14px;
    line-height:24px;
  }
  .tabs {
    li {
      float:left;
      width:33.33%;
      list-style: none;
    }
    a {
      display:block;
      text-align:center;
      text-decoration:none;
      text-transform:uppercase;
      color:#888;
      padding:20px 0;
      border-bottom:2px solid #888;
      background:#f7f7f7;
      
      &:hover, &.active {
        background:#eee;
      }
    }
  }
  .tabgroup {
    div {
      padding:30px;
      box-shadow:0 7px 10px rgba(0,0,0,.3);
    }
  }
  .clearfix:after {
    content:"";
    display:table;
    clear:both;
  }

  /* nav bar */
.main-nav{
  display:inline-block;

}

nav > ul {
  margin-top: 2em;
  margin-left: 0px;
  height: 40px;
  line-height: 40px;
  padding-left: 2em;
  list-style: none;
}

nav > ul > li {
  position: relative;
  margin-right: 1em;
  float: left;
}

nav ul li a {
  background: #3399FF;
  border-top: 1px solid #bc2c2c;
  border-right: 1px solid #bc2c2c;
  border-bottom: 1px solid #bc2c2c;
  border-left: 1px solid #bc2c2c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #bc2c2c, 0px 1px 0 #bc2c2c, 0 6px 0px #bc2c2c, 0 8px 4px 1px #111111;
  color: white;
  font: bold 25px/1 "Marcellus", serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #bc2c2c;
   -webkit-background-clip: padding-box; 
  /* attempting to get buttons to resize accordingly with screen adjust */
  width: 100%;
  height: auto;
 
}

nav > ul > li > a {
  color:#25c625;
  background: #F6FCB8;
  -webkit-box-shadow: inset 0 0px 20px 1px #8480D1, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0px 20px 1px #8480D1, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  cursor: pointer;
  font: bold 25px/1 "Marcellus", serif;
  margin-bottom: 20px;
  padding: 10px 0 12px 0;
  text-align: center;
  /* attempting to get buttons to resize accordingly with screen adjust */
  width: 100%;
  height: auto;
  border-radius: 11px;
}

nav > ul > li > a:link {color: #3399FF; -moz-text-decoration-style: solid; padding: 10px 14px;}      /* unvisited link */
nav > ul > li > a:visited {color:#3399FF;}  /* visited link */
nav > ul > li > a:hover {
  background: #3399FF;
  border-top: 1px solid #3399FF;
  border-right: 1px solid #3399FF;
  border-bottom: 1px solid #3399FF;
  border-left: 1px solid #3399FF;
  border-radius: 11px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #FFFF66, 0px 1px 0 #FFFF66, 0 6px 0px #FFFF66, 0 8px 4px 1px #111111;
  color: #fff;
  text-shadow: 0px -1px 1px #E1DFD3;
  -webkit-background-clip: padding-box; 
 }/* mouse over link */
nav > ul > li > a:active {color:#33CC33; -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    /*margin-top: 58px; */
    position: static;}  /* selected link */

nav ul > li ul {
  position: absolute;
  width: 200px;
  background: #33cda7;
  border-radius: 5px;
  padding: 5px 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 3px 15px rgba(0,0,0,.7);
  list-style: none;
}

nav ul > li ul:after {
  content: "";
  position: absolute;
  top: -11px;
  left: 1em;
  height: 0; 
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: rgba(216,30,179,0.56); 
}

nav > ul li > ul > li {
  position: relative;
}

nav > ul > li > ul > li > ul {
  left: 105%;
  top: -2.5em !important;
  z-index: 1;
  width: 180px;
}

nav > ul > li > ul > li > ul:hover {
  width: 200px;
}

nav > ul > li > ul > li > ul:after {
  content: "";
  position: absolute;
  top: 1em;
  left: -12px;
  heght: 0; width: 0;
  border: 6px solid transparent;
  border-right-color: rgba(216,30,179,0.56); 
}

nav > ul > li > ul > li:hover > ul {
  top: 0 !important;
}


.drop,.dropp {
  padding-right: 2em;
}

.drop:after,
.dropp:after{
  content: "";
  position: absolute;
  height: 0; width: 0;
  border: 6px solid transparent;
}

.drop:after {
  right: 8px;
  top: 14px;
  border-top-color: rgba(216,30,179,0.56); 
}

.dropp:after {
  top: 12px;
  right: 8px;
  border-left-color: rgba(216,30,179,0.56); 
}

a{
  text-decoration: none;
}
a h2:hover{
  color:#E1DFD3;
}

p a:hover{
  color:#E1DFD3;
  font-size: 29px;
}

#wrapper {
  display: table;
  width: 80%;
  margin-left: -47px;
}
#left, #right {
  padding: 1em;
  font-family: sans-serif;
  color: #fff;
  height: 480px;
  max-height: 480px;
  display: table-cell;
}
#left {
  min-width:640px;
  max-width: 640px;
}
#right {
  width: 640px;
  max-width: 640px;

}

#earth {
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 140px;
  margin-left:77%;
  transform: rotate(-8deg) scale(3);
  width: 92px;
  height: 92px;
  background: url(http://www.noirextreme.com/digital/Earth-Color4096.jpg);
  border-radius: 50%;
  background-size: 210px;
  box-shadow: inset 16px 0px 40px 6px rgb(0, 0, 0),
    inset -0px 0 16px 2px rgba(255, 255, 255, 0.4);
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 0px;
  transition: all 200ms ease-in-out;
}

#earth:hover {
  /* border: 2px solid black; */
}

@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 210px; }
}

/* end nav bar */
/* Default wide-screen styles */

@media only screen and (max-width: 999px) {
  /* rules that only apply for canvases narrower than 1000px */


}

@media only screen and (device-width: 768px) and (orientation: landscape) {
  /* rules for iPad in landscape orientation */
  body{
    width:100%;
    height: auto;
  }
  html{
    width: 100%;
    max-width: 768px;
  }


}

@media only screen and (max-device-width: 480px) and (orientation: landscape){
  /* iPhone, Android rules here in landscape mode */
    * {
        max-width: auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
     }
     html{
        max-width: auto;
     }
     ul.desktop{
        list-style-type: none;
        margin-bottom: 40px;
      }

      ul.desktop li{
        display: block;
        /*
        margin-left: 10%;
        margin-right: -8%;
        */
        margin-top: -90px;
      }

      li.port{
        min-width: 220px;
        width:240px;
        display: block;
        /*float:left;*/
        width: 48%;
        margin-left: 3px;
        margin-right: 10px;
        /*
        margin: 10px;
        */
      }

      li.contact{
        width: 240px;
        min-width: 220px;
        display: block;
        margin-right:3px;
        /*
        margin: 10px;
        */
        /*float: right;*/
        width: 48%;
      }


}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone, Android rules here */
    * {
        max-width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
     }
     html{
        max-width: 100%;
     }
     ul.desktop{
        list-style-type: none;
        margin-bottom: 40px;
      }

      ul.desktop li{
        display: block;
        /*
        margin-left: 10%;
        margin-right: -8%;
        */
        margin-top: -90px;
      }

      li.port{
        min-width: 220px;
        width:240px;
        display: block;
        /*float:left;*/
        width: 48%;
        margin-left: 3px;
        margin-right: 10px;
        /*
        margin: 10px;
        */
      }

      li.contact{
        width: 240px;
        min-width: 220px;
        display: block;
        margin-right:3px;
        /*
        margin: 10px;
        */
        /*float: right;*/
        width: 48%;
      }

      .gallery{
          width: auto;
          vertical-align: center;
      }

      .gallery > div {
        position: relative;
        float: left;

      }

  }

}

/* with modernizr */
.csscolumns ul.features {
 -moz-column-count: 2;
 -webkit-columns: 2;
 -o-columns: 2;
 columns: 2;
}
.no-csscolumns ul.features {
 float: left;
 margin: 0 0 20px;
}
.no-csscolumns ul.features li {
 float: left;
 width: 180px;
 margin: 2px;
}
.no-csscolumns .column-w{
  float: left;
}
/* with modernizr */

header {
  margin-bottom: 150px;
  max-height: 60px;
  max-width: auto;
  position: center;
  
}

html{
    background-color: black;
}

html, body {
  margin: 0;
  padding-top: 5px;
  border:0;
  
    /* 
    min-width: 800px;
    Below is with added columns
    height: 100%; */
  min-width: 300px;
  width:auto;
  position: relative;
}

body {
    font-family: "Julius Sans One";
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: #33CC33;
    color: #4D4B39;
     /*max-width: 35em;*/
    max-width: auto;
    min-width: auto;
    /*border: 0.75em solid #E68A8A;*/
    line-height: 1.5em;

    /* testing image stuff */
    position: relative;


}


#content{
    height:auto;
    min-width:640px;
    position: center absolute;
    background-position: fixed;
}
#content img{
    max-width:100%;
    height:auto;
}

#container {
    max-width: auto;
    max-height: auto;
    width: 768px;
    min-width: 30%;
    position: center;
    background-position: absolute;
}

p {
    margin: 1.5em 0;
}


h1 {
  position: absolute;
  left: 45%;
  margin-left: -1.9em;
  color: #3399FF;
  font:700 9em 'Montserrat Subrayada', sans-serif; 
}

@keyframes loading {
  from { max-width: 0; }
}

h1:before {
  content: attr(data-content);
  position: absolute;
  overflow: hidden;
  max-width: 5.3em;
  color: #FFFF66;
  animation: loading 8s linear;
}

h2 {
    background-color: #33CC33;
    text-align: center;
    color: #FFFF66;
    border-color: indigo;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px #3399FF;
    font-size: 150%;
    font-family: 'Marcellus', serif;
    padding: 1em;
    margin: -1em -1em 1em -1em;
    margin-bottom: -25px;
}

h1 + h2 {
    margin-top: -2em;
    padding-top: 0;
}

/* Company Logo Design */
h3 {
  
  display: inline;

  position: relative;

  font: 150px Helvetica, Sans-Serif;

  letter-spacing: -5px;

  color:  #eb2755;

}



h3:after {

  content: "Famous";

  position: absolute; left: 10px; top: 5px;

  color:  #E1DFD3; 

}


h1.enterSite{
    text-align: center;
    background-color: transparent;
    border-color: indigo;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px #ff0000;
    font-size: 180px;
    font-family: 'Shadows Into Light Two';
    margin-top: 10px;
    float: 
}

ul.list > li {
  font-size: 18px;
}

/* Wrapper div for tabs */
div.wrapper{
  margin-bottom: 60px;
}

/* Images of Zander Norell */

span img{
  max-width:200px;
  max-height:300px;
  margin-right: 15px;
  margin-bottom: 60px;
}

#two {
  max-width: 670px;
  max-height: 400px;
  position: center fixed;
}


.btn {
  background: #eb2755;
  max-width: 80%;
  text-decoration: none;
  margin-bottom: 30px;
  text-align: center;
  padding: 1em 0;
  display: block;
  color: #fff;
  transition: background .3s;
  
  &:hover {
    background: lighten(#e74c3c, 10%);
  }
  
}


button a {
  text-decoration: none;
  text-color: white;
}

button a:link {color:white;}      /* unvisited link */
button a:visited {color:white;}  /* visited link */
button a:hover {color:#FF00FF;}  /* mouse over link */
button a:active {color:blue;}  /* selected link */

/* punch */
.punch {
  background: #F6FCB8;
  border-radius: 11px;
  -webkit-box-shadow: inset 0 0px 20px 1px #8480D1, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0px 20px 1px #8480D1, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  cursor: pointer; 
  font: bold 25px/1 "Marcellus", serif;
  margin-bottom: 20px;
  padding: 10px 0 12px 0;
  text-align: center;
  /* attempting to get buttons to resize accordingly with screen adjust */
  width: 320px;
  color: #3399FF;
  height: 70px;
}
  
.punch:hover {
  background: #3399FF;
  border-top: 1px solid #3399FF;
  border-right: 1px solid #3399FF;
  border-bottom: 1px solid #3399FF;
  border-left: 1px solid #3399FF;
  border-radius: 11px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #FFFF66, 0px 1px 0 #FFFF66, 0 6px 0px #FFFF66, 0 8px 4px 1px #111111;
  color: #fff;
  text-shadow: 0px -1px 1px #E1DFD3;
  -webkit-background-clip: padding-box; 
}

.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    /*margin-top: 58px; */
    position: static;
    color:indigo;
}

.punch2 {
  background: #E68A8A;
  border-top: 1px solid #eb2755;
  border-right: 1px solid #eb2755;
  border-bottom: 1px solid #eb2755;
  border-left: 1px solid #eb2755;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #eb2755, 0 6px 0px #eb2755, 0 8px 4px 1px #eb2755;
  box-shadow: inset 0 1px 10px 1px #bc2c2c, 0px 1px 0 #eb2755, 0 6px 0px #bc2c2c, 0 8px 4px 1px #eb2755;
  color: #fff;
  font: bold 25px/1 "Marcellus", serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #bc2c2c;
  -webkit-background-clip: padding-box; 
  /* attempting to get buttons to resize accordingly with screen adjust */
  width: 80%;
  height: auto;

}
  
.punch2:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; 
}

.punch2:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    /*margin-top: 58px; */
    position: static;
}

center#nav{
  margin-top:40px;
  margin-bottom:40px;
  
}

.getAutoHeight {
   position: relative;
   overflow: auto; /* edit by thobens: overflow: hidden seems to be better, as (at least) IE 8 shows always a disabled scrollbar with overflow: auto */
}

/* Why is Zanders buttons and photo always larger than mine? */
/*
table tr td {
  color:#bc2c2c;
}

td.norell{
  width: 100%;
  height: auto;
}

td.zander{
  width: 50%;
  height: auto;
}
*/

input.punch:hover{
  color:white;
}

input.punch:active{
  color:#25c655;
}

input.punch2:hover{
  color:#25c655;
}

article{
  background: black;
  padding: 10px;
}
article p{
  word-spacing: 2px;
  color: #FFFFCC;
  text-shadow: 2px 2px #3399FF;
  font-family: "Marcellus", serif;
  margin-top: -5px;
}

ul.list{
  list-style: none;
}

ul{
  list-style: none;
}

p.title:hover{
  font-size: 22px;
  color: #eb2755;
}

/*---------- vertical tab nav */
#vertical_tab_nav{
  display: block;
  width: 100%;
  margin-left: 8%;


}
#vertical_tab_nav ul{
  font: bold 25px/1 "Marcellus", serif;
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  width: 30%;
  border-radius: 10px 0 0 10px;
  background: #E68A8A;
}
#vertical_tab_nav li{
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
  text-align: left;
  padding: 0px;
}
#vertical_tab_nav li:last-child{
  margin-bottom: 0px;
  border-bottom: 0px;
}
#vertical_tab_nav li a{
  display: block;
  font-size: 14pt;
  color: #fff;
  text-decoration: none;
  padding: 7%;
  background: #E68A8A;
  background: -webkit-linear-gradient(top,#FFFF66,#3399FF);
  background: -moz-linear-gradient(top,#FFFF66,#3399FF);
}

#vertical_tab_nav li a:hover{
  background: #E68A8A;
}

#vertical_tab_nav li a.selected{
  background: black;
  color: #33CC33;
}
#vertical_tab_nav div{
  display: block;
  float: left;
  background: black;
  background: black;
  width:80%;
  max-width: 100%;
  min-height: 236px;
  max-height: 600px;
  min-width:1100px;
  padding: 10px 3% 3% 3%;
  border-radius: 0 10px 10px 0;
}
#vertical_tab_nav div article{
  display: none;
  margin: 0px;
  color: #555;
  background: black;
  width:80%;
  min-width:1100px;
  max-width: 100%;
  max-height: 600px;
  
}
#vertical_tab_nav div article h2{
  margin: 0px;
  margin-left: -1%;
  float:left;
  margin-top: -10px;
  margin-bottom: 20px;
  background: black;
  color: #FFFF66;
  border-color: indigo;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-shadow: 2px 2px #3399FF;
  
}
#vertical_tab_nav div article p{
  margin: 0px 0px 20px 0px;
  width: 60%;
  float: left;
  font-size: 16px;
}

h4.tour{
  font-size: 26px;
  color: #33CC33;
}


/* for table of tour schedule */

$breakpoint-alpha: 480px;

.rwd-table {
  margin: 2em 0;

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  th {
    display: none;
    color: #33CC33;
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": ";

      width: 6.5em;
      display: inline-block;
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}

.rwd-table {
  background: #34495E;
  color: #fff;
  font: bold 14px/1 "Marcellus", serif;
  border-radius: .4em;
  overflow: hidden;
  margin-top: 0px;
  margin-left: 20px;
  min-width: 400px;
  width: 60%;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }

}

ul.docs
{
  list-style: none;
}
ul.docs li
{
  display: inline;
}
article{
  background:transparent;
}

  ul.newsfeed{
    list-style: none;
  }
  ul.newsfeed li{
    margin: 10px;
    display: inline-block;
    width: 400px;
  }

  a{
    text-decoration: none;
    font-size: 22px;
  }
  a h2:hover{
    color:#E1DFD3;
  }

  p a:hover{
    color:#E1DFD3;
    font-size: 29px;
  }

  ul.list2 li {
    width: 47%;
    height: auto;
    display: inline-block;
    text-align: left;
  }

  ul.list3 li {
    display: inline;
    margin-right: 30px;
  }

/* SHOP ITEMS CSS */

ul#shop li {
  list-style: none;
  display: inline;
  margin:4px;
}

ul#shop li img {
  box-shadow: 8px 8px 5px #888888;
}

#Item1 {
  background-image: url("img/shop/1.jpg");
}
#Item1:hover {
  background-image: url("img/shop/001.gif");
}

p{
  background:transparent; 
  color:black; 
  text-shadow: 1px 1px #3399FF;
  font-family: 'Marcellus', serif;
  font-size: 18px;
}

a#shop{
  font-size: 24px;
}

a#shop:hover{
  color: #33CC33;
  font-size: 24px;
}
