

body {    
  background: linear-gradient(#33CC33, #3399FF, #33CC33);
  border-radius: 6px;
  width: 100vw;
  height: 100vh;
  min-width: 220px;
  line-height: 1.5em;
  position: relative;
  margin: 0;
  padding-top: 0px;
  padding: 0;
  border:0;
  /*This just stops me getting horizontal scrolling if anything overflows the width*/
  overflow-x: hidden;
  


}

header {
  margin-bottom: 150px;
  max-height: 60px;
  min-width: 220px;
  max-width: auto;
  position: center;
}

h4.newmusic {
  font-family: "Della Respira", serif ;
  color: black;

}

/* id of "wrapper" */

#wrapper {
  display: table;
  width: 80%;
  min-width: 220px;
}

/* class of "wrapper" */

.wrapper {
  margin:30px auto;
  width:80%;
  min-width: 220px;
  font-family:sans-serif;
  color:#555;
  font-size:14px;
  line-height:24px;
}

.tabs {
  li {
    float:left;
    width:33.33%;
    list-style: none;
  }
  a {
    display:block;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    color:#888;
    padding:20px 0;
    border-bottom:2px solid #888;
    background:#f7f7f7;
      
    &:hover, &.active {
      background:#eee;
    }
  }
}
  .tabgroup {
    div {
      padding:30px;
      box-shadow:0 7px 10px rgba(0,0,0,.3);
    }
  }
  .clearfix:after {
    content:"";
    display:table;
    clear:both;
  }


/* sweet button effect */

.btn {
  background: #eb2755;
  max-width: 80%;
  text-decoration: none;
  margin-bottom: 30px;
  text-align: center;
  padding: 1em 0;
  display: block;
  color: #fff;
  transition: background .3s;
  
  &:hover {
    background: lighten(#e74c3c, 10%);
  }
  
}


button a {
  text-decoration: none;
  text-color: white;
}

button a:link {color:white;}      /* unvisited link */
button a:visited {color:white;}  /* visited link */
button a:hover {color:#FF00FF;}  /* mouse over link */
button a:active {color:blue;}  /* selected link */

/* punch */
.punch {
  background: black;
  border-top: 1px solid indigo;
  border-right: 1px solid indigo;
  border-bottom: 1px solid indigo;
  border-left: 1px solid indigo;
  border-radius: 11px;
  -webkit-box-shadow: inset 0 0px 20px 1px #8480D1, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0px 20px 1px #8480D1, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  cursor: pointer; 
  font: bold 25px/1 "Marcellus", serif;
  margin-bottom: 20px;
  padding: 10px 0 12px 0;
  text-align: center;
  /* attempting to get buttons to resize accordingly with screen adjust */
  width: 320px;
  color: #3399FF;
  height: 70px;
}
  
.punch:hover {
  background: #3399FF;
  border-top: 1px solid #3399FF;
  border-right: 1px solid #3399FF;
  border-bottom: 1px solid #3399FF;
  border-left: 1px solid #3399FF;
  border-radius: 11px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px black, 0px 1px 0 black, 0 6px 0px black, 0 8px 4px 1px #111111;
  color: #fff;
  text-shadow: 0px -1px 1px #E1DFD3;
  -webkit-background-clip: padding-box; 
}

.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    /*margin-top: 58px; */
    position: static;
    color:indigo;
}

.punch2 {
  background: black;
  border-top: 1px solid #eb2755;
  border-right: 1px solid #eb2755;
  border-bottom: 1px solid #eb2755;
  border-left: 1px solid #eb2755;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #eb2755, 0 6px 0px #eb2755, 0 8px 4px 1px #eb2755;
  box-shadow: inset 0 1px 10px 1px #bc2c2c, 0px 1px 0 #eb2755, 0 6px 0px #bc2c2c, 0 8px 4px 1px #eb2755;
  color: #fff;
  font: bold 25px/1 "Marcellus", serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #bc2c2c;
  -webkit-background-clip: padding-box; 
  /* attempting to get buttons to resize accordingly with screen adjust */
  width: 80%;
  height: auto;

}
  
.punch2:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; 
}

.punch2:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    /*margin-top: 58px; */
    position: static;
}



.getAutoHeight {
   position: relative;
   overflow: auto; /* edit by thobens: overflow: hidden seems to be better, as (at least) IE 8 shows always a disabled scrollbar with overflow: auto */
}


input.punch:hover{
  color:white;
}

input.punch:active{
  color:#25c655;
}

input.punch2:hover{
  color:#25c655;
}


/* TWITCH EMBED */
.twitch .twitch-video {
  padding-top: 56.25%;
  position: relative;
  height: 0;
}

.twitch .twitch-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

/* TWITCH CHAT */
.twitch .twitch-chat {
  height: 400px;
}

.twitch .twitch-chat iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 850px) {
  .twitch {
    position: relative;
  }
  
  .twitch .twitch-video {
    width: 75%;
    padding-top: 42.1875%;
  }

  .twitch .twitch-chat {
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
}


/* FAQ Hall of Fame */

div#faq {
  font-family: 'Marcellus', sans-serif;
  font-size: 1em;
  overflow-x: hidden;
  padding: 0 1.5em;
}

.faq-header{
  font-size: 2em;
  font-family: 'Marcellus', sans-serif;
  border-bottom: 1px dotted #777;
  padding: 1em 0;
}

.faq-c {
  border-bottom: 1px dotted #777;
  padding: 1em 0;
}

.faq-t {
  line-height: 1em;
  color: #777; 
  font-family: 'Marcellus', sans-serif;
  float:left; 
  font-weight: 700; 
  padding-right: 0.3em; 
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-q {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 100;
}

.faq-a {
  clear: both;
  color: black;
  display: none;
  padding-left: 1.5em;
}


/* Responsive Nav Bar */

ul.topnav {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background: url(images/Famous-0010.jpg) center;
  background-size: 100%;
  background-repeat: repeat;
  height:auto;
  width: 100%;


}


/* Float list items side by side */
ul.topnav li {float: left;}

/* Style links inside list items */
ul.topnav li a {
  border-top: 1px solid indigo;
  border-right: 1px solid indigo; 
  border-bottom: 1px solid indigo;
  border-left: 1px solid indigo;
  -webkit-box-shadow: inset 0 0px 20px 1px #8480D1, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0px 20px 1px #8480D1, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;

  /*
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px indigo, 0px 1px 0 indigo, 0 6px 0px indigo, 0 8px 4px 1px #111111; */
  
  color: white;
  padding: 11px;
  font: bold 22px/1 "Marcellus", serif;
  margin-bottom: 8px;
  text-align: center;
  text-shadow: 0px -1px 1px indigo;
   -webkit-background-clip: padding-box; 
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}



h4.bandfamous {
background: black; color: #FFFFFF; text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px; margin-top: 10px; width: 100%; font-size: 47px; height: 88px; margin-bottom: -11px; margin-top:-20px; padding-bottom: 44px; padding-top: 11px;
  
}

/* When screen is less than 680px wide, hide list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */




@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to topnav  with Javascript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


ul.topnav li > a:link {color: #3399FF; -moz-text-decoration-style: solid; padding: 11px 22px;}   /* unvisited link */

ul.topnav li > a:visited {color:#3399FF;}  /* visited link */

ul.topnav li > a:hover {
  background: #3399FF;
  border-top: 1px solid #3399FF;
  border-right: 1px solid #3399FF;
  border-bottom: 1px solid #3399FF;
  border-left: 1px solid #3399FF;
  border-radius: 11px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px indigo, 0px 1px 0 indigo, 0 6px 0px indigo, 0 8px 4px 1px #111111;
  color: #fff;
  text-shadow: 0px -1px 1px #E1DFD3;
  -webkit-background-clip: padding-box; 
 }
 

 /* mouse over link */
 
ul.topnav li > a:active {color:#33CC33; -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    position: static;} */ /* selected link */


ul.topnav li ul {

  width: 200px;
  background: #33cda7;
  border-radius: 7px;
  padding: 7px 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 3px 15px rgba(0,0,0,.7);
  list-style: none;
}


/* LINKS */

a{
  text-decoration: none;
  color: black;
}

label a {
  font-size: 22px;
}
label a:hover{
  color:indigo;
}

a.music:link {

color: black; 

}

a.music:hover {
  color: #fff;

}

a.music:active {
  color:indigo;
}

a.music:visited{
  color:#3399FF;
}


/*
a img {
  width: 85%;
  min-width: 220px;
  height: auto;
}
*/

a#shop{
  font-size: 24px;
}

a#shop:hover{
  color: #33CC33;
  font-size: 24px;
}

a h2:hover{
  color:indigo;
}

p a:hover{
  color:indigo;
}

/*  article styling */

article{
  background: black;
  padding: 10px;
}
article p{
  word-spacing: 2px;
  color: #FFFFCC;
  text-shadow: 2px 2px #3399FF;
  font-family: "Marcellus", serif;
  margin-top: -5px;
}

ul{
  list-style: none;
}

/* UL id of "preview" */

ul#preview {
  width: 100%;
  min-width: 280px;
  margin-left: -20px;
  margin-right: 20px;
}

ul#preview li {
  list-style: none;
  display: inline-block;
  min-width:280px;
  width: 45%;
  height: 320px;
  margin: auto;
}

/* UL class of "docs" */

ul.docs
{
  list-style: none;
}
ul.docs li
{
  display: inline;
}

article{
  background:transparent;
}
/* UL class of "newsfeed" */
ul.newsfeed{
  list-style: none;
}
ul.newsfeed li{
  margin: 10px;
  display: inline-block;
  width: 400px;
  min-width: 280px;
  font-size: 14px;
}

/* UL for lyrics page*/
ul > li {
  font-size: 22px;
  color: black;
  text-shadow: 2px 2px #3399FF;
}

ul.lyrics li {
  text-shadow: none;
}

/* UL class of "list" */
ul.list{
  list-style: none;
}

ul.list > li {
  font-size: 18px;
}

/* UL class of "list2" */
ul.list2 li {
  width: 47%;
  height: auto;
  display: inline-block;
  text-align: left;
}
/* UL class of "list3" */
ul.list3 li {
  display: inline;
  margin-right: 30px;
}

/* SHOP ITEMS CSS */

ul#shop li {
  list-style: none;
  display: inline;
  margin:4px;
}

ul#shop li img {
  box-shadow: 8px 8px 5px #888888;
}

/* Wrapper div for tabs */
div.wrapper{
  margin-bottom: 60px;
}

/* Images of Zander Norell */

span img{
  max-width:200px;
  max-height:300px;
  margin-right: 15px;
  margin-bottom: 60px;
}
/* id of "two" */
#two {
  min-width: 220px;
  min-height: auto;
  max-width: 670px;
  max-height: 400px;
  position: center fixed;
}

/* id of "left" */

#left {
  height: 300px; 
  min-width:220px;
  max-width: 600px;

}

/* id of "left" */

#right {
  max-width: 600px;
  min-width: 220px;

}

/* Scrollable div id="scroll" */

#scroll{
  background: #3399FF;
  width: 90%;
  min-height: 300px; 
  min-width: 280px;
  height: 570px;
  overflow-y: scroll;
}

/* for table of tour schedule */

#scroll table {
  margin-top: 20px;
  min-width: 250px;
  width: 100%;
  padding-left:3px;
}

#scroll table tr.title {
  text-decoration: underline;
  font-style: bold;
  font-variant: small-caps;
  font-size: 1.25em;
}

#scroll table tr td {
  margin-left: 11px;
}

#scroll table tr td p {

  margin-top:10px;
  margin-bottom:10px;
  margin-right:15px;
  margin-left: 7px;
}

/* Table that holds scroll divs for press and events */
table#homepage {
  width: 100%;
  min-width: 250px;
  align-self: center;
  align-content: center;
  margin-left: 2%;
  margin-bottom: 2px;
}

table#homepage tr td.size {
  display: inline-block;
  min-width: 250px;
  max-width: 50%;
  width: 49%;
  min-height: 400px;

  margin-left: 5px;
}

table#homepage tr td.size h2 {
  
}

/* for table galleries on bio page */
table.gallery {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 20px;
  width: 100%;
  min-width: 220px;
}

table.gallery tr {
  display: inline-block;
  width: 100%;
}

table.gallery tr td {
  margin-left: -20px;
  padding: 0px;
  width: 33.3%;
  display: inline-table;
  min-width: 300px;

}

/* for table of two images on bio */
table.bio {
  width: 100%;
  min-width: 280px;
  margin-left: 12%;
}

table.bio tr {
  display: inline-block;
  width: 100%;
}

table.bio tr td {
  margin-left: -20px;
  padding: 0px;
  width: 50%;
  display: inline-table;
  min-width: 280px;

}


/* for table of sponsors */

table.sponsoredby {
  width: 100%;
  min-width: 280px;
  margin-left: 12%;

}

table.sponsoredby tr {
  display: inline-block;
  min-width: 280px;
  padding: 0px;
}

table.sponsoredb tr td {
  margin-left: -20px;
  padding: 0px;
  width: 25%;
  display: inline-block;
  min-width: 280px;

}

table.sponsoredb tr td img {

}

blockquote {

  width: 65%; 
  margin-top:10px; 
  text-shadow: none; 
  color: white; 
  text-align:center;

}

blockquote p {
  /*font-family: The Girl Next Door;*/
  color: white;
}

blockquote footer {
  font-family: 'Marcellus', serif;
  text-align: right;
}


blockquote footer a {

color: black; 
cursor: pointer; 
text-decoration: underline;

}


blockquote footer a:link {

color: black; 

}

blockquote footer a:hover {
  color: indigo;
  cursor: pointer; 
  text-decoration: underline;

}

blockquote footer a:active {
  color:indigo;
}

blockquote footer a:visited{
  /*color:#3399FF;*/
  -webkit-text-stroke: 1px indigo;
}


/* h1, h2, h3, h4, p */


h1.enterSite{
    text-align: center;
    background-color: transparent;
    border-color: indigo;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px #ff0000;
    font-size: 180px;
    font-family: 'Shadows Into Light Two';
    margin-top: 10px;
}


h1 {
  position: absolute;
  text-align: center;
  color: #FFFF66;
  font:700 9em 'Montserrat Subrayada', sans-serif; 
  width: 100%;
  min-width: 280px;
}

@keyframes loading {
  from { max-width: 0; }
}

h1:before {
  content: attr(data-content);
  position: absolute;
  overflow: hidden;
  max-width: 5.3em;
  color: #3399FF;
    /*animation: loading 8s linear;*/
  -webkit-animation: loading 8s linear;
}

h2 {
    text-align: center;
    color: black;
    border-color: indigo;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-shadow: 2px 2px #3399FF;
    font-size: 150%;
    font-family: 'Marcellus', serif;
    padding: 1em;
    margin: -1em -1em 1em -1em;
    margin-bottom: -25px;
}

h1 + h2 {
    margin-top: -2em;
    padding-top: 0;
}

/* Company Logo Design */
h3 {
  
  display: inline;

  position: relative;

  font: 111px Helvetica, Sans-Serif;

  letter-spacing: -5px;

  color:  white;

  margin-bottom: 40px;

}

h2.headTitle {
  background: black;
  color: #3399FF;
  width: 90%;
  font-size: 32px;
  min-width: 280px;
  height:30px;
  text-shadow: none;
  margin-bottom: auto;
}

/*
h3:after {

  content: "TBF";

  position: absolute; left: 10px; top: 5px;

  color:  #E1DFD3; 

} */

h4.tour{
  font-size: 26px;
  color: #33CC33;
}

h4 {

  font-family: 'Marcellus';
}

p{

  color:black; 
  font-family: 'Marcellus', serif;
  font-size: 18px;
  margin: 1.5em 0;
  margin-left:10px;
  padding: 11px;
}

p.title:hover{
  font-size: 22px;
  color: #eb2755;
}

label {
  color: black; 
  font-size: 22px; 
  float:left; 
  text-align: left; 
  margin-top: 20px; 
  margin-left:25px;
  padding: 11px;
  width: 100%;
}

/* with modernizr */
.csscolumns ul.features {
 -moz-column-count: 2;
 -webkit-columns: 2;
 -o-columns: 2;
 columns: 2;
}
.no-csscolumns ul.features {
 float: left;
 margin: 0 0 20px;
}
.no-csscolumns ul.features li {
 float: left;
 width: 180px;
 margin: 2px;
}
.no-csscolumns .column-w{
  float: left;
}
/* with modernizr */

#content{
    height:auto;
    min-width:220px;
    width: 100%;
    position: center absolute;
    background-position: fixed;
}
#content img{
    max-width:100%;
    min-width: 50%;
    height:auto;
}

#container {
    max-width: auto;
    max-height: auto;
    width: auto;
    min-width: 220px;
    position: center;
    background-position: absolute;
}

/* press page parts */
#jct {
    display:inline;
    color:black;
    font-weight:normal;
    margin: 10px;
    /*border:black solid 1px;*/
}
#jct:after {
    content:"\A"; 
    white-space: pre; 
}


/*---------- vertical tab nav */
#vertical_tab_nav{
  display: block;
  width: 100%;
  margin-left: 8%;


}
#vertical_tab_nav ul{
  font: bold 25px/1 "Marcellus", serif;
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  width: 30%;
  border-radius: 10px 0 0 10px;
  background: #E68A8A;
}
#vertical_tab_nav li{
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
  text-align: left;
  padding: 0px;
}
#vertical_tab_nav li:last-child{
  margin-bottom: 0px;
  border-bottom: 0px;
}
#vertical_tab_nav li a{
  display: block;
  font-size: 14pt;
  color: #fff;
  text-decoration: none;
  padding: 7%;
  background: #E68A8A;
  background: -webkit-linear-gradient(top,#FFFF66,#3399FF);
  background: -moz-linear-gradient(top,#FFFF66,#3399FF);
}

#vertical_tab_nav li a:hover{
  background: #E68A8A;
}

#vertical_tab_nav li a.selected{
  background: black;
  color: #33CC33;
}
#vertical_tab_nav div{
  display: block;
  float: left;
  background: black;
  background: black;
  width:80%;
  max-width: 100%;
  min-height: 236px;
  max-height: 600px;
  min-width:1100px;
  padding: 10px 3% 3% 3%;
  border-radius: 0 10px 10px 0;
}
#vertical_tab_nav div article{
  display: none;
  margin: 0px;
  color: #555;
  background: black;
  width:80%;
  min-width:1100px;
  max-width: 100%;
  max-height: 600px;
  
}
#vertical_tab_nav div article h2{
  margin: 0px;
  margin-left: -1%;
  float:left;
  margin-top: -10px;
  margin-bottom: 20px;
  background: black;
  color: #FFFF66;
  border-color: indigo;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-shadow: 2px 2px #3399FF;
  
}
#vertical_tab_nav div article p{
  margin: 0px 0px 20px 0px;
  width: 60%;
  float: left;
  font-size: 16px;
}
/* end verical tab nav */

/* app store effect */

.gallery {
  width: 530px;
  margin: 0 auto;
  padding: 5px;
}

.gallery > div {
  position: relative;
  vertical-align: center;
  margin: auto;
  padding: auto;
  /*float:left;
  margin-right: -20px;*/


}

.gallery > div > a > img {
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > a > img {
  transform: scale(1.5,1.5);
  transition: .3s transform;
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}


@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 210px; }
}

/* end popout effect that was on app store effect */

/* Popup note on Contact page */
hr.modal {
    clear: both;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid indigo;
}
h1.modal {
    font-size: 30px;
    margin-bottom: 40px;
}

.btn {
  background: black;
  border-top: 1px solid indigo;
  border-right: 1px solid indigo;
  border-bottom: 1px solid indigo;
  border-left: 1px solid indigo;
  border-radius: 11px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0px 20px 1px #8480D1, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  color: #3399FF;
  font: bold 25px/1 "Marcellus", serif;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 0px -1px 1px indigo;
   -webkit-background-clip: padding-box; 
  /* attempting to get buttons to resize accordingly with screen adjust */
  width: 100px;
  height: 70px;
  cursor: pointer;
}

.btn:hover {
  background: #3399FF;
  border-top: 1px solid #3399FF;
  border-right: 1px solid #3399FF;
  border-bottom: 1px solid #3399FF;
  border-left: 1px solid #3399FF;
  border-radius: 11px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px black, 0px 1px 0 black, 0 6px 0px black, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 25px/1 "Marcellus", serif;
  text-shadow: 0px -1px 1px #E1DFD3;
  -webkit-background-clip: padding-box; 
}
.btn.btn-big {
    font-size: 18px;
    padding: 15px;
    margin: 8px;
    min-width: 100px;
    width: 140px;
    font: bold 25px/1 "Marcellus", serif;
    display: inline;
     border-top: 1px solid indigo;
  border-right: 1px solid indigo;
  border-bottom: 1px solid indigo;
  border-left: 1px solid indigo;
  border-radius: 11px;
}

.btn-close {
    color: #aaaaaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.btn-close:hover {
    color: indigo;
}
.modal:target:before {
    display: none;
}
.modal:before {
    content:"";
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.modal .modal-dialog {
    background: transparent;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    z-index: 11;
    width: 360px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    top: 20%;
}
.modal:target .modal-dialog {
    top: -100%;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
}
.modal-body {
    padding: 20px;
}
.modal-header, .modal-footer {
    padding: 10px 20px;
}
.modal-header {
    /*border-bottom: #eeeeee solid 1px; */
}
.modal-header h2 {
    font-size: 20px;
}
.modal-footer {
    border-top: #eeeeee solid 1px;
    text-align: right;
}
/* END popup note on Contact page */

/* bolding Qs and names in questionaire on band page */
div#scroll p {
  margin: 25px;
}

div#scroll p strong {
  font-variant: bold;
  font-size: 20px;
}

/* columns on esports html page */
.col-group {
  overflow: hidden;
}
.col-group > div {
  padding: 1em;
}

@media screen and (min-width: 44em) {
  .col-group > div {
    float: left;
    width: 50%;
  }
  .col-group > div:nth-child(odd) {
    clear: left;
  }
}

@media screen and (min-width: 50em) {
  .col-group > div {
    float: left;
    width: 33.3333333%;
  }
  .col-group > div:nth-child(3n+1) {
    clear: left;
  }
  .col-group > div:nth-child(odd) {
    clear: none;
  }
}

@media screen and (min-width: 70em) {
  .col-group > div {
    width: 20%;
  }
  .col-group > div:nth-child(odd), .col-group > div:nth-child(3n+1) {
    clear: none;
  }
}

/* epk bio adjustments across screen sizes */

  #epk {
    /* background: #3399FF; */
    background: white;
    width: 80%;
    /*padding: 20px;*/
  }

  article#epk {
    background: white;
    width:80%;
    /*padding: 20px; */
  }

  article#epk p {
    text-shadow:none;
    color: black;
    margin:10px;
    margin-bottom: 17px;
  }

  ul.tbf {
    list-style: none;
  }

  ul.tbf li {
    margin: 2px;
    margin-left: -20px;
    display: inline-block;
  }

/*
  @media only screen and (min-width:768px){
    .templateContainer{
      width:600px !important;
    }
    */

} @media only screen and (max-width: 480px){
    body,table,td,p,a,li,blockquote{
      -webkit-text-size-adjust:none !important;
    }

} @media only screen and (max-width: 480px){
    body{
      width:100% !important;
      min-width:100% !important;
    }

} @media only screen and (max-width: 480px){
    #bodyCell{
      padding-top:10px !important;
    }

} @media only screen and (max-width: 480px){
    .columnWrapper{
      max-width:100% !important;
      width:100% !important;
    }

} @media only screen and (max-width: 480px){
    .mcnImage{
      width:100% !important;
    }

} @media only screen and (max-width: 480px){
    .mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer{
      max-width:100% !important;
      width:100% !important;
    }

} @media only screen and (max-width: 480px){
    .mcnBoxedTextContentContainer{
      min-width:100% !important;
    }

} @media only screen and (max-width: 480px){
    .mcnImageGroupContent{
      padding:9px !important;
    }

} @media only screen and (max-width: 480px){
    .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
      padding-top:9px !important;
    }

} @media only screen and (max-width: 480px){
    .mcnImageCardTopImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
      padding-top:18px !important;
    }

} @media only screen and (max-width: 480px){
    .mcnImageCardBottomImageContent{
      padding-bottom:9px !important;
    }

} @media only screen and (max-width: 480px){
    .mcnImageGroupBlockInner{
      padding-top:0 !important;
      padding-bottom:0 !important;
    }

} @media only screen and (max-width: 480px){
    .mcnImageGroupBlockOuter{
      padding-top:9px !important;
      padding-bottom:9px !important;
    }

} @media only screen and (max-width: 480px){
    .mcnTextContent,.mcnBoxedTextContentColumn{
      padding-right:18px !important;
      padding-left:18px !important;
    }

} @media only screen and (max-width: 480px){
    .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
      padding-right:18px !important;
      padding-bottom:0 !important;
      padding-left:18px !important;
    }

} @media only screen and (max-width: 480px){
    .mcpreview-image-uploader{
      display:none !important;
      width:100% !important;
    }

} 

} @media only screen and (max-width: 480px){
    .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
      font-size:14px !important;
      line-height:150% !important;
    }

} @media only screen and (max-width: 480px){
    #templatePreheader{
      display:block !important;
    }

} @media only screen and (max-width: 480px){
    #templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
      font-size:14px !important;
      line-height:150% !important;
    }

} @media only screen and (max-width: 480px){
    #templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
      font-size:16px !important;
      line-height:150% !important;
    }

} @media only screen and (max-width: 480px){
    #templateUpperBody .mcnTextContent,#templateUpperBody .mcnTextContent p{
      font-size:16px !important;
      line-height:150% !important;
    }

} @media only screen and (max-width: 480px){
    #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
      font-size:16px !important;
      line-height:150% !important;
    }

} @media only screen and (max-width: 480px){
    #templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
      font-size:16px !important;
      line-height:150% !important;
    }

} @media only screen and (max-width: 480px){
    #templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
      font-size:14px !important;
      line-height:150% !important;
    }

}

/* end epk  / bio page adjustments */

/* Effects for guides on esports page */
ul.guides {
  list-style: none;
}

ul.guides li {
  display: inline;
}

ul.guides li img {

  width: 200px;
  height: auto;
}




